bin/
obj/
dotnet-install.sh
build
.tox
Deployment
# Ignore NuGet Packages
nupkgs/
*.nupkg
*.snupkg
*.zip

*.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tf_deployed_resources.yaml

event-timer-obs-download/