name: publishPackage

# Workflow creates and publishes NuGet packages to GitHub Packages
# and creates a GitHub Release with release notes when a new tag is pushed.
#
# Usage:
# - Prepare release notes in releasenotes/vX.Y.Z.md before creating the tag.
# - commit and push all changes to the main branch.
# - Create and push a version tag (e.g., v1.0.0) to trigger the workflow, ex.:
#    git tag v1.0.0
#    git push origin v1.0.0

on:
  workflow_dispatch:

  push:
    tags:
      - "v*"  # Trigger when a version tag is pushed (e.g., v1.0.0)

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: configure-git-user
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            6.0.x
            3.1.x
            2.1.x

      - name: Build Package
        run: |
          cd libraries
          dotnet pack --output nupkgs --include-symbols --include-source /p:ContinuousIntegrationBuild=true --configuration Release

      - name: Publish Package
        run: |
          cd libraries
          dotnet nuget push nupkgs/*.nupkg --source $NUGET_SOURCE_URL --api-key $GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}          
          NUGET_SOURCE_URL: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          # tag: $
          name: ${{github.ref_name}}
          token: ${{ github.token }}
          generateReleaseNotes: true
          allowUpdates: true
          bodyFile: releasenotes/${{ github.ref_name }}.md
          replacesArtifacts: true
